.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f8ff;

}

.header {
    justify-content: space-around ;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.image {
    border-radius: 30%;
    margin-right: 20px;
}

.name {
    font-size: 50px;
    color: #333;
    margin: 0;
}

.all-lists {
    justify-content: center;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    max-height: 800px;
    
}

.div-container {
    justify-content: space-around;
    width: 400px;
    background-color: #c0d9e8;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
}

.list {
    list-style-type: none;
    padding: 0;
}

.list-item {
    margin-bottom: 8px;
}

.parag {
    line-height: 1.6;
    color: #555;
}