body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    cursor: pointer;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;

}
* ::before::after {
    box-sizing: border-box;
}
.current {
    position: relative;
    color: black;
    margin-top: 5px;
}

.current::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    border-radius: 2px;
    background: black;
    height: 4px;
    bottom: -1px;
    
}

.header {
    justify-content: space-around ;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: #2A8D9C;
    padding: 20px;
}

.image {
    border-radius: 30%;
    margin-right: 20px;
}

.name {
    font-size: 60px;
    color: #333;
    margin: 0;
}

.all-lists {
    justify-content: left;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    max-height: 900px;
}

.div-container {
    width: 400px;
   
    padding: 10px;
    border-radius: 10px;

    margin-bottom: 5px;
}

.list {

    padding: 0;
}

.list-item {
    margin-bottom: 8px;
}

.parag {
    line-height: 1.6;
    color: #555;
}